
#hello {
    width:1000px;
    height:200px;
    padding-top:200px;
    text-align:left;  
    font-family:幼圆;
    font-size:20px;
    color:darkslategrey;
}

#pic {
    text-align:center;
    color:rgb(165, 164, 164);
    padding-top:250px;
}

#section1 {
    width:1100px;
    float:left;
    padding-left:250px;
    padding-top:25px;
    font-family:仿宋;
    font-size:23px;
    color:darkslategray;
}

#section2 {
    width:1100px;
    float:left;
    padding-left:200px; 
}

#section3 {
    font-family:华文楷体;
    font-size:23px;
    color:darkslategray;
    padding-left:10px;
}

#section4 {
    padding-left:35px;
    padding-bottom:30px; 
}

#section5 {
    width:1000px;
    height:150px;
    text-align:left;
    padding-top:150px;
    padding-bottom:300px;
    font-family:仿宋;
    font-size:23px;
    color:darkslategray;
}

#caption {
    font-family:bad script;
    font-size:30px;
    color:#748CB9;
    padding-bottom:10px;
}

#caption1 {
    font-family:华文行楷;
    font-size:25px;
    color:lightslategray;
    padding-left:600px;
    padding-top:100px;
}

#chunk {
    font-family:华文楷体;
    font-size:20px;
    color:darkslategray;
    padding-left:625px;
    padding-top:100px; 
}

#chunk1 {
    font-family:华文楷体;
    font-size:20px;
    color:darkslategray;
    padding-left:625px;
    padding-top:10px;
}

#chunk2 {
    font-family:华文楷体;
    font-size:20px;
    color:darkslategray;
    padding-left:100px;
    padding-bottom:20px;
}

#chunk3 {
    font-family:华文楷体;
    font-size:20px;
    color:darkslategray;
    padding-left:625px;
    padding-top:50px;
}

#ps {
    text-align:center;
    font-family:幼圆;
    font-size:20px;
    color:darkslategrey;
    padding-top:20px;
    padding-bottom:20px;
}

#ps1 {
    font-family:幼圆;
    font-size:25px;
    color:darkslategray;
    padding-top:150px;
    padding-left:30px;
}

#ps2 {
    font-family:幼圆;
    font-size:25px;
    color:darkslategray;
    padding-top:180px;
    padding-left:100px;
}

#footer {
    background-color:#748CB9;
    color:white;
    font-family:bad script;
    clear:both;
    text-align:center;
    padding:5px; 
}